* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: rgb(255, 255, 255);
}

/* Spacy background*/

.App {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #2aa3ff 0%, #000141 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1087px 1086px #FFF , 1374px 213px #FFF , 288px 847px #FFF , 854px 135px #FFF , 1450px 1162px #FFF , 213px 1766px #FFF , 1877px 345px #FFF , 446px 1922px #FFF , 1312px 551px #FFF , 535px 1584px #FFF , 65px 1711px #FFF , 765px 115px #FFF , 1685px 66px #FFF , 413px 1696px #FFF , 624px 1866px #FFF , 1679px 836px #FFF , 899px 164px #FFF , 1186px 445px #FFF , 1818px 1725px #FFF , 55px 793px #FFF , 1458px 1728px #FFF , 893px 72px #FFF , 758px 1542px #FFF , 1232px 612px #FFF , 517px 1744px #FFF , 1905px 885px #FFF , 1718px 552px #FFF , 283px 298px #FFF , 582px 320px #FFF , 815px 815px #FFF , 1283px 318px #FFF , 1632px 934px #FFF , 835px 138px #FFF , 1097px 1129px #FFF , 1560px 1978px #FFF , 1119px 1360px #FFF , 1090px 967px #FFF , 1735px 1255px #FFF , 799px 1801px #FFF , 630px 1756px #FFF , 800px 1063px #FFF , 1699px 230px #FFF , 487px 284px #FFF , 1149px 1480px #FFF , 408px 1182px #FFF , 1285px 166px #FFF , 1692px 1913px #FFF , 976px 1991px #FFF , 1937px 1101px #FFF , 560px 480px #FFF , 837px 177px #FFF , 108px 1283px #FFF , 920px 1245px #FFF , 965px 1356px #FFF , 353px 98px #FFF , 534px 387px #FFF , 236px 1336px #FFF , 236px 1945px #FFF , 8px 1080px #FFF , 946px 1000px #FFF , 447px 468px #FFF , 293px 966px #FFF , 989px 246px #FFF , 1258px 63px #FFF , 1378px 500px #FFF , 1489px 1761px #FFF , 1267px 1671px #FFF , 817px 1817px #FFF , 1877px 1189px #FFF , 801px 1637px #FFF , 1301px 1445px #FFF , 1861px 40px #FFF , 1956px 853px #FFF , 898px 1714px #FFF , 162px 891px #FFF , 605px 580px #FFF , 884px 534px #FFF , 1195px 1704px #FFF , 1424px 108px #FFF , 1156px 1560px #FFF , 1852px 156px #FFF , 161px 1817px #FFF , 962px 1869px #FFF , 1px 789px #FFF , 127px 1112px #FFF , 1356px 506px #FFF , 815px 1764px #FFF , 1490px 453px #FFF , 1693px 1336px #FFF , 1170px 1409px #FFF , 1497px 539px #FFF , 540px 129px #FFF , 1033px 1430px #FFF , 1021px 379px #FFF , 786px 979px #FFF , 1004px 551px #FFF , 1675px 1790px #FFF , 1408px 1100px #FFF , 1853px 391px #FFF , 379px 414px #FFF , 466px 1930px #FFF , 918px 360px #FFF , 817px 953px #FFF , 1276px 1921px #FFF , 372px 1091px #FFF , 1090px 1573px #FFF , 24px 922px #FFF , 1823px 196px #FFF , 415px 1866px #FFF , 1966px 1675px #FFF , 1943px 551px #FFF , 544px 764px #FFF , 1492px 1653px #FFF , 1014px 1099px #FFF , 1916px 1623px #FFF , 238px 1226px #FFF , 670px 5px #FFF , 418px 1770px #FFF , 79px 1207px #FFF , 1360px 1300px #FFF , 1070px 1116px #FFF , 826px 272px #FFF , 149px 722px #FFF , 1727px 157px #FFF , 1292px 703px #FFF , 1442px 751px #FFF , 1664px 1219px #FFF , 682px 217px #FFF , 1191px 1003px #FFF , 524px 402px #FFF , 948px 1295px #FFF , 1440px 1274px #FFF , 199px 773px #FFF , 477px 1976px #FFF , 1982px 1787px #FFF , 691px 1481px #FFF , 1309px 826px #FFF , 1218px 1568px #FFF , 1673px 1698px #FFF , 1241px 959px #FFF , 49px 745px #FFF , 1507px 304px #FFF , 1180px 1342px #FFF , 1098px 1702px #FFF , 569px 715px #FFF , 1186px 1700px #FFF , 924px 1765px #FFF , 978px 1273px #FFF , 1331px 1254px #FFF , 1758px 1050px #FFF , 786px 1872px #FFF , 517px 1977px #FFF , 324px 450px #FFF , 21px 946px #FFF , 297px 1630px #FFF , 1994px 28px #FFF , 1584px 128px #FFF , 658px 634px #FFF , 1840px 293px #FFF , 1337px 788px #FFF , 266px 443px #FFF , 1094px 1520px #FFF , 197px 1476px #FFF , 1499px 1546px #FFF , 1490px 252px #FFF , 916px 1458px #FFF , 17px 154px #FFF , 384px 177px #FFF , 1316px 35px #FFF , 284px 1747px #FFF , 118px 657px #FFF , 231px 160px #FFF , 60px 1075px #FFF , 1819px 619px #FFF , 1879px 1587px #FFF , 115px 891px #FFF , 405px 1605px #FFF , 401px 1892px #FFF , 1168px 951px #FFF , 1199px 1627px #FFF , 1533px 1531px #FFF , 1489px 1884px #FFF , 1840px 1320px #FFF , 708px 794px #FFF , 1024px 1987px #FFF , 726px 804px #FFF , 1941px 488px #FFF , 1926px 635px #FFF , 51px 112px #FFF , 1481px 1782px #FFF , 390px 938px #FFF , 1024px 1174px #FFF , 1522px 740px #FFF , 200px 1416px #FFF , 1629px 284px #FFF , 1068px 1363px #FFF , 427px 1857px #FFF , 1209px 1183px #FFF , 227px 69px #FFF , 1302px 1156px #FFF , 1725px 625px #FFF , 1167px 116px #FFF , 1033px 581px #FFF , 33px 239px #FFF , 306px 1589px #FFF , 1643px 232px #FFF , 1608px 1006px #FFF , 1300px 908px #FFF , 669px 1803px #FFF , 1149px 1165px #FFF , 1650px 1759px #FFF , 985px 1888px #FFF , 1072px 1771px #FFF , 1551px 1882px #FFF , 1590px 268px #FFF , 1925px 1293px #FFF , 1774px 355px #FFF , 1941px 265px #FFF , 786px 586px #FFF , 1635px 1917px #FFF , 1924px 32px #FFF , 899px 666px #FFF , 1078px 421px #FFF , 1346px 1245px #FFF , 569px 95px #FFF , 1550px 1534px #FFF , 1196px 790px #FFF , 1120px 229px #FFF , 179px 1873px #FFF , 1319px 1798px #FFF , 1286px 275px #FFF , 1279px 1637px #FFF , 693px 1677px #FFF , 1450px 1205px #FFF , 1842px 1642px #FFF , 759px 719px #FFF , 1348px 932px #FFF , 1352px 115px #FFF , 968px 219px #FFF , 1549px 126px #FFF , 1481px 1876px #FFF , 1674px 1051px #FFF , 190px 1116px #FFF , 1948px 189px #FFF , 475px 1970px #FFF , 1155px 1578px #FFF , 16px 699px #FFF , 1838px 874px #FFF , 91px 14px #FFF , 432px 456px #FFF , 1397px 337px #FFF , 1167px 308px #FFF , 1490px 1207px #FFF , 1510px 1404px #FFF , 946px 1432px #FFF , 879px 579px #FFF , 1581px 880px #FFF , 1054px 1740px #FFF , 69px 644px #FFF , 89px 1749px #FFF , 457px 233px #FFF , 1005px 906px #FFF , 998px 506px #FFF , 1150px 514px #FFF , 614px 1568px #FFF , 821px 767px #FFF , 155px 67px #FFF , 1691px 320px #FFF , 734px 1007px #FFF , 1311px 600px #FFF , 709px 431px #FFF , 1205px 8px #FFF , 1736px 1930px #FFF , 1187px 362px #FFF , 1823px 1039px #FFF , 1217px 719px #FFF , 309px 2000px #FFF , 1511px 450px #FFF , 1191px 1420px #FFF , 1363px 966px #FFF , 1124px 1098px #FFF , 1718px 148px #FFF , 1629px 235px #FFF , 449px 828px #FFF , 723px 990px #FFF , 1659px 1091px #FFF , 1121px 22px #FFF , 1427px 238px #FFF , 1283px 1151px #FFF , 1326px 1135px #FFF , 762px 19px #FFF , 1715px 70px #FFF , 363px 1654px #FFF , 400px 984px #FFF , 107px 1274px #FFF , 1869px 1111px #FFF , 1771px 934px #FFF , 1423px 568px #FFF , 1635px 1387px #FFF , 1831px 706px #FFF , 325px 1505px #FFF , 1154px 1530px #FFF , 1152px 814px #FFF , 870px 1850px #FFF , 1788px 1721px #FFF , 242px 1030px #FFF , 298px 486px #FFF , 135px 808px #FFF , 1221px 1420px #FFF , 647px 1224px #FFF , 1142px 145px #FFF , 1006px 1935px #FFF , 518px 1022px #FFF , 384px 1152px #FFF , 422px 466px #FFF , 186px 1017px #FFF , 1734px 476px #FFF , 1685px 1087px #FFF , 1139px 1694px #FFF , 1713px 1961px #FFF , 205px 1918px #FFF , 206px 1889px #FFF , 692px 1939px #FFF , 532px 1015px #FFF , 1798px 1343px #FFF , 1622px 688px #FFF , 1667px 937px #FFF , 1500px 365px #FFF , 4px 1458px #FFF , 487px 1255px #FFF , 959px 1294px #FFF , 65px 1826px #FFF , 923px 1408px #FFF , 1576px 1989px #FFF , 1979px 441px #FFF , 762px 1700px #FFF , 123px 42px #FFF , 1713px 1390px #FFF , 104px 698px #FFF , 580px 761px #FFF , 265px 1952px #FFF , 1729px 1502px #FFF , 1733px 1480px #FFF , 1224px 576px #FFF , 1754px 1422px #FFF , 104px 1266px #FFF , 817px 435px #FFF , 1924px 375px #FFF , 1475px 725px #FFF , 1963px 591px #FFF , 356px 1039px #FFF , 1314px 1599px #FFF , 1628px 44px #FFF , 1927px 1228px #FFF , 1591px 79px #FFF , 975px 118px #FFF , 1960px 1572px #FFF , 727px 342px #FFF , 1886px 1911px #FFF , 516px 144px #FFF , 1845px 1136px #FFF , 126px 655px #FFF , 1244px 1389px #FFF , 1631px 1247px #FFF , 1241px 11px #FFF , 1194px 1602px #FFF , 533px 1757px #FFF , 457px 1275px #FFF , 1216px 1340px #FFF , 1680px 126px #FFF , 1737px 1169px #FFF , 817px 125px #FFF , 872px 1960px #FFF , 403px 1879px #FFF , 260px 665px #FFF , 124px 672px #FFF , 907px 1349px #FFF , 951px 1128px #FFF , 925px 1133px #FFF , 1090px 554px #FFF , 965px 64px #FFF , 1823px 316px #FFF , 372px 825px #FFF , 1700px 1270px #FFF , 225px 1190px #FFF , 1848px 1874px #FFF , 1124px 1425px #FFF , 1955px 76px #FFF , 1278px 536px #FFF , 904px 1420px #FFF , 1752px 1470px #FFF , 1582px 304px #FFF , 538px 1732px #FFF , 1396px 210px #FFF , 818px 1628px #FFF , 70px 668px #FFF , 326px 1028px #FFF , 320px 1034px #FFF , 254px 889px #FFF , 1190px 1086px #FFF , 24px 1564px #FFF , 654px 1550px #FFF , 523px 645px #FFF , 1958px 1180px #FFF , 198px 313px #FFF , 1143px 1669px #FFF , 1774px 1287px #FFF , 918px 1672px #FFF , 558px 269px #FFF , 494px 83px #FFF , 1951px 1034px #FFF , 1321px 1761px #FFF , 1730px 686px #FFF , 1168px 1341px #FFF , 694px 1281px #FFF , 1123px 1774px #FFF , 1409px 522px #FFF , 130px 674px #FFF , 1925px 41px #FFF , 175px 1657px #FFF , 1104px 320px #FFF , 1740px 680px #FFF , 1803px 1840px #FFF , 1326px 414px #FFF , 644px 931px #FFF , 593px 1973px #FFF , 765px 1222px #FFF , 1165px 94px #FFF , 379px 1433px #FFF , 1727px 2000px #FFF , 1067px 917px #FFF , 50px 822px #FFF , 1025px 20px #FFF , 1197px 1768px #FFF , 378px 1331px #FFF , 281px 1433px #FFF , 1272px 1608px #FFF , 227px 102px #FFF , 1313px 626px #FFF , 1924px 1856px #FFF , 1691px 1774px #FFF , 279px 1449px #FFF , 1525px 722px #FFF , 1028px 531px #FFF , 1593px 849px #FFF , 1414px 1580px #FFF , 1681px 1517px #FFF , 419px 118px #FFF , 461px 226px #FFF , 754px 523px #FFF , 469px 799px #FFF , 567px 1274px #FFF , 1292px 1178px #FFF , 391px 119px #FFF , 1949px 658px #FFF , 881px 118px #FFF , 526px 823px #FFF , 1860px 1701px #FFF , 94px 449px #FFF , 321px 167px #FFF , 1556px 1454px #FFF , 1628px 650px #FFF , 488px 1564px #FFF , 894px 1964px #FFF , 1261px 668px #FFF , 571px 480px #FFF , 874px 1407px #FFF , 137px 1601px #FFF , 1276px 1158px #FFF , 517px 1200px #FFF , 282px 1355px #FFF , 307px 748px #FFF , 354px 1819px #FFF , 99px 1807px #FFF , 96px 491px #FFF , 1722px 750px #FFF , 623px 1508px #FFF , 883px 565px #FFF , 70px 1787px #FFF , 1478px 1397px #FFF , 110px 5px #FFF , 596px 158px #FFF , 1083px 570px #FFF , 817px 567px #FFF , 1464px 1243px #FFF , 1082px 457px #FFF , 1872px 1337px #FFF , 1903px 1778px #FFF , 1688px 1883px #FFF , 413px 571px #FFF , 421px 1926px #FFF , 245px 207px #FFF , 1365px 1550px #FFF , 388px 1970px #FFF , 1427px 832px #FFF , 77px 32px #FFF , 1892px 1510px #FFF , 1453px 1875px #FFF , 567px 1903px #FFF , 1979px 727px #FFF , 1979px 808px #FFF , 1966px 872px #FFF , 410px 822px #FFF , 1902px 1700px #FFF , 421px 731px #FFF , 1717px 213px #FFF , 220px 1370px #FFF , 911px 1543px #FFF , 1009px 728px #FFF , 30px 269px #FFF , 181px 122px #FFF , 339px 728px #FFF , 1638px 1942px #FFF , 895px 45px #FFF , 479px 1919px #FFF , 1819px 1005px #FFF , 961px 319px #FFF , 607px 1012px #FFF , 725px 460px #FFF , 919px 1546px #FFF , 1314px 1705px #FFF , 1506px 224px #FFF , 1876px 266px #FFF , 502px 93px #FFF , 781px 709px #FFF , 997px 784px #FFF , 1011px 1166px #FFF , 1252px 1753px #FFF , 1317px 1488px #FFF , 462px 113px #FFF , 1297px 440px #FFF , 1238px 723px #FFF , 1373px 752px #FFF , 597px 1634px #FFF , 1907px 701px #FFF , 46px 1836px #FFF , 1744px 1454px #FFF , 1168px 1932px #FFF , 1140px 327px #FFF , 774px 1238px #FFF , 1195px 1487px #FFF , 430px 655px #FFF , 1935px 1366px #FFF , 1071px 337px #FFF , 827px 449px #FFF , 1858px 1647px #FFF , 1895px 1675px #FFF , 1272px 1554px #FFF , 827px 439px #FFF , 1798px 1487px #FFF , 1229px 1314px #FFF , 1266px 431px #FFF , 1109px 1872px #FFF , 239px 247px #FFF , 265px 520px #FFF , 1912px 1884px #FFF , 378px 1092px #FFF , 1707px 427px #FFF , 699px 970px #FFF , 1584px 620px #FFF , 1699px 1812px #FFF , 459px 1253px #FFF , 312px 139px #FFF , 1928px 1429px #FFF , 796px 1901px #FFF , 776px 1033px #FFF , 1369px 1876px #FFF , 399px 1781px #FFF , 558px 104px #FFF , 1227px 1582px #FFF , 415px 511px #FFF , 1043px 482px #FFF , 1729px 1705px #FFF , 660px 1168px #FFF , 268px 445px #FFF , 1424px 1588px #FFF , 81px 1077px #FFF , 456px 131px #FFF , 1572px 1163px #FFF , 1546px 253px #FFF , 1275px 1816px #FFF , 896px 585px #FFF , 1549px 81px #FFF , 1330px 798px #FFF , 1733px 963px #FFF , 492px 1881px #FFF , 1618px 1524px #FFF , 492px 1042px #FFF , 250px 1889px #FFF , 981px 1040px #FFF , 788px 1411px #FFF , 1728px 708px #FFF , 269px 1470px #FFF , 342px 642px #FFF , 450px 791px #FFF , 3px 682px #FFF , 1091px 940px #FFF , 1212px 1887px #FFF , 1612px 1993px #FFF , 1625px 1582px #FFF , 704px 137px #FFF , 409px 1826px #FFF , 1825px 548px #FFF , 179px 671px #FFF , 1932px 657px #FFF , 252px 1505px #FFF , 575px 1782px #FFF , 48px 1866px #FFF , 1298px 1972px #FFF , 1898px 742px #FFF , 304px 1430px #FFF , 1341px 1743px #FFF , 686px 1353px #FFF , 1015px 620px #FFF , 1907px 1277px #FFF , 652px 743px #FFF , 1011px 61px #FFF , 474px 1490px #FFF , 1885px 1795px #FFF , 1631px 276px #FFF , 1786px 1943px #FFF , 1223px 64px #FFF , 822px 553px #FFF , 927px 381px #FFF , 305px 217px #FFF , 977px 1701px #FFF , 153px 1205px #FFF , 1955px 1710px #FFF , 682px 836px #FFF , 439px 1338px #FFF , 158px 1446px #FFF , 723px 835px #FFF , 1306px 1638px #FFF , 1796px 100px #FFF , 1174px 928px #FFF , 1651px 716px #FFF , 1167px 1087px #FFF , 1293px 1550px #FFF , 1862px 961px #FFF , 1493px 1873px #FFF , 1500px 984px #FFF , 1930px 94px #FFF , 524px 1824px #FFF , 1482px 144px #FFF , 999px 831px #FFF , 1660px 127px #FFF , 172px 315px #FFF , 1907px 884px #FFF , 1812px 264px #FFF , 1906px 709px #FFF , 1966px 1004px #FFF , 885px 1476px #FFF , 516px 196px #FFF , 211px 1252px #FFF , 1428px 1706px #FFF , 555px 820px #FFF , 167px 612px #FFF , 937px 1240px #FFF , 1359px 441px #FFF , 894px 1997px #FFF , 238px 250px #FFF , 1615px 1055px #FFF , 1800px 1361px #FFF , 45px 1840px #FFF , 1637px 956px #FFF , 576px 1439px #FFF , 1079px 923px #FFF , 883px 1379px #FFF , 1975px 1719px #FFF , 1734px 1944px #FFF , 1924px 806px #FFF , 258px 222px #FFF , 1710px 322px #FFF , 1148px 1011px #FFF , 1916px 569px #FFF , 1948px 1722px #FFF , 579px 389px #FFF , 1655px 1029px #FFF , 660px 1793px #FFF , 765px 722px #FFF , 556px 1502px #FFF , 979px 1540px #FFF , 1020px 543px #FFF , 1086px 107px #FFF , 700px 1448px #FFF , 1017px 1670px #FFF , 76px 55px #FFF , 1343px 678px #FFF , 1554px 1269px #FFF , 526px 1575px #FFF , 1136px 1103px #FFF , 1911px 385px #FFF , 804px 1277px #FFF , 804px 437px #FFF , 257px 1241px #FFF , 1719px 1487px #FFF , 664px 194px #FFF , 147px 1528px #FFF , 1893px 173px #FFF , 1325px 755px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1087px 1086px #FFF , 1374px 213px #FFF , 288px 847px #FFF , 854px 135px #FFF , 1450px 1162px #FFF , 213px 1766px #FFF , 1877px 345px #FFF , 446px 1922px #FFF , 1312px 551px #FFF , 535px 1584px #FFF , 65px 1711px #FFF , 765px 115px #FFF , 1685px 66px #FFF , 413px 1696px #FFF , 624px 1866px #FFF , 1679px 836px #FFF , 899px 164px #FFF , 1186px 445px #FFF , 1818px 1725px #FFF , 55px 793px #FFF , 1458px 1728px #FFF , 893px 72px #FFF , 758px 1542px #FFF , 1232px 612px #FFF , 517px 1744px #FFF , 1905px 885px #FFF , 1718px 552px #FFF , 283px 298px #FFF , 582px 320px #FFF , 815px 815px #FFF , 1283px 318px #FFF , 1632px 934px #FFF , 835px 138px #FFF , 1097px 1129px #FFF , 1560px 1978px #FFF , 1119px 1360px #FFF , 1090px 967px #FFF , 1735px 1255px #FFF , 799px 1801px #FFF , 630px 1756px #FFF , 800px 1063px #FFF , 1699px 230px #FFF , 487px 284px #FFF , 1149px 1480px #FFF , 408px 1182px #FFF , 1285px 166px #FFF , 1692px 1913px #FFF , 976px 1991px #FFF , 1937px 1101px #FFF , 560px 480px #FFF , 837px 177px #FFF , 108px 1283px #FFF , 920px 1245px #FFF , 965px 1356px #FFF , 353px 98px #FFF , 534px 387px #FFF , 236px 1336px #FFF , 236px 1945px #FFF , 8px 1080px #FFF , 946px 1000px #FFF , 447px 468px #FFF , 293px 966px #FFF , 989px 246px #FFF , 1258px 63px #FFF , 1378px 500px #FFF , 1489px 1761px #FFF , 1267px 1671px #FFF , 817px 1817px #FFF , 1877px 1189px #FFF , 801px 1637px #FFF , 1301px 1445px #FFF , 1861px 40px #FFF , 1956px 853px #FFF , 898px 1714px #FFF , 162px 891px #FFF , 605px 580px #FFF , 884px 534px #FFF , 1195px 1704px #FFF , 1424px 108px #FFF , 1156px 1560px #FFF , 1852px 156px #FFF , 161px 1817px #FFF , 962px 1869px #FFF , 1px 789px #FFF , 127px 1112px #FFF , 1356px 506px #FFF , 815px 1764px #FFF , 1490px 453px #FFF , 1693px 1336px #FFF , 1170px 1409px #FFF , 1497px 539px #FFF , 540px 129px #FFF , 1033px 1430px #FFF , 1021px 379px #FFF , 786px 979px #FFF , 1004px 551px #FFF , 1675px 1790px #FFF , 1408px 1100px #FFF , 1853px 391px #FFF , 379px 414px #FFF , 466px 1930px #FFF , 918px 360px #FFF , 817px 953px #FFF , 1276px 1921px #FFF , 372px 1091px #FFF , 1090px 1573px #FFF , 24px 922px #FFF , 1823px 196px #FFF , 415px 1866px #FFF , 1966px 1675px #FFF , 1943px 551px #FFF , 544px 764px #FFF , 1492px 1653px #FFF , 1014px 1099px #FFF , 1916px 1623px #FFF , 238px 1226px #FFF , 670px 5px #FFF , 418px 1770px #FFF , 79px 1207px #FFF , 1360px 1300px #FFF , 1070px 1116px #FFF , 826px 272px #FFF , 149px 722px #FFF , 1727px 157px #FFF , 1292px 703px #FFF , 1442px 751px #FFF , 1664px 1219px #FFF , 682px 217px #FFF , 1191px 1003px #FFF , 524px 402px #FFF , 948px 1295px #FFF , 1440px 1274px #FFF , 199px 773px #FFF , 477px 1976px #FFF , 1982px 1787px #FFF , 691px 1481px #FFF , 1309px 826px #FFF , 1218px 1568px #FFF , 1673px 1698px #FFF , 1241px 959px #FFF , 49px 745px #FFF , 1507px 304px #FFF , 1180px 1342px #FFF , 1098px 1702px #FFF , 569px 715px #FFF , 1186px 1700px #FFF , 924px 1765px #FFF , 978px 1273px #FFF , 1331px 1254px #FFF , 1758px 1050px #FFF , 786px 1872px #FFF , 517px 1977px #FFF , 324px 450px #FFF , 21px 946px #FFF , 297px 1630px #FFF , 1994px 28px #FFF , 1584px 128px #FFF , 658px 634px #FFF , 1840px 293px #FFF , 1337px 788px #FFF , 266px 443px #FFF , 1094px 1520px #FFF , 197px 1476px #FFF , 1499px 1546px #FFF , 1490px 252px #FFF , 916px 1458px #FFF , 17px 154px #FFF , 384px 177px #FFF , 1316px 35px #FFF , 284px 1747px #FFF , 118px 657px #FFF , 231px 160px #FFF , 60px 1075px #FFF , 1819px 619px #FFF , 1879px 1587px #FFF , 115px 891px #FFF , 405px 1605px #FFF , 401px 1892px #FFF , 1168px 951px #FFF , 1199px 1627px #FFF , 1533px 1531px #FFF , 1489px 1884px #FFF , 1840px 1320px #FFF , 708px 794px #FFF , 1024px 1987px #FFF , 726px 804px #FFF , 1941px 488px #FFF , 1926px 635px #FFF , 51px 112px #FFF , 1481px 1782px #FFF , 390px 938px #FFF , 1024px 1174px #FFF , 1522px 740px #FFF , 200px 1416px #FFF , 1629px 284px #FFF , 1068px 1363px #FFF , 427px 1857px #FFF , 1209px 1183px #FFF , 227px 69px #FFF , 1302px 1156px #FFF , 1725px 625px #FFF , 1167px 116px #FFF , 1033px 581px #FFF , 33px 239px #FFF , 306px 1589px #FFF , 1643px 232px #FFF , 1608px 1006px #FFF , 1300px 908px #FFF , 669px 1803px #FFF , 1149px 1165px #FFF , 1650px 1759px #FFF , 985px 1888px #FFF , 1072px 1771px #FFF , 1551px 1882px #FFF , 1590px 268px #FFF , 1925px 1293px #FFF , 1774px 355px #FFF , 1941px 265px #FFF , 786px 586px #FFF , 1635px 1917px #FFF , 1924px 32px #FFF , 899px 666px #FFF , 1078px 421px #FFF , 1346px 1245px #FFF , 569px 95px #FFF , 1550px 1534px #FFF , 1196px 790px #FFF , 1120px 229px #FFF , 179px 1873px #FFF , 1319px 1798px #FFF , 1286px 275px #FFF , 1279px 1637px #FFF , 693px 1677px #FFF , 1450px 1205px #FFF , 1842px 1642px #FFF , 759px 719px #FFF , 1348px 932px #FFF , 1352px 115px #FFF , 968px 219px #FFF , 1549px 126px #FFF , 1481px 1876px #FFF , 1674px 1051px #FFF , 190px 1116px #FFF , 1948px 189px #FFF , 475px 1970px #FFF , 1155px 1578px #FFF , 16px 699px #FFF , 1838px 874px #FFF , 91px 14px #FFF , 432px 456px #FFF , 1397px 337px #FFF , 1167px 308px #FFF , 1490px 1207px #FFF , 1510px 1404px #FFF , 946px 1432px #FFF , 879px 579px #FFF , 1581px 880px #FFF , 1054px 1740px #FFF , 69px 644px #FFF , 89px 1749px #FFF , 457px 233px #FFF , 1005px 906px #FFF , 998px 506px #FFF , 1150px 514px #FFF , 614px 1568px #FFF , 821px 767px #FFF , 155px 67px #FFF , 1691px 320px #FFF , 734px 1007px #FFF , 1311px 600px #FFF , 709px 431px #FFF , 1205px 8px #FFF , 1736px 1930px #FFF , 1187px 362px #FFF , 1823px 1039px #FFF , 1217px 719px #FFF , 309px 2000px #FFF , 1511px 450px #FFF , 1191px 1420px #FFF , 1363px 966px #FFF , 1124px 1098px #FFF , 1718px 148px #FFF , 1629px 235px #FFF , 449px 828px #FFF , 723px 990px #FFF , 1659px 1091px #FFF , 1121px 22px #FFF , 1427px 238px #FFF , 1283px 1151px #FFF , 1326px 1135px #FFF , 762px 19px #FFF , 1715px 70px #FFF , 363px 1654px #FFF , 400px 984px #FFF , 107px 1274px #FFF , 1869px 1111px #FFF , 1771px 934px #FFF , 1423px 568px #FFF , 1635px 1387px #FFF , 1831px 706px #FFF , 325px 1505px #FFF , 1154px 1530px #FFF , 1152px 814px #FFF , 870px 1850px #FFF , 1788px 1721px #FFF , 242px 1030px #FFF , 298px 486px #FFF , 135px 808px #FFF , 1221px 1420px #FFF , 647px 1224px #FFF , 1142px 145px #FFF , 1006px 1935px #FFF , 518px 1022px #FFF , 384px 1152px #FFF , 422px 466px #FFF , 186px 1017px #FFF , 1734px 476px #FFF , 1685px 1087px #FFF , 1139px 1694px #FFF , 1713px 1961px #FFF , 205px 1918px #FFF , 206px 1889px #FFF , 692px 1939px #FFF , 532px 1015px #FFF , 1798px 1343px #FFF , 1622px 688px #FFF , 1667px 937px #FFF , 1500px 365px #FFF , 4px 1458px #FFF , 487px 1255px #FFF , 959px 1294px #FFF , 65px 1826px #FFF , 923px 1408px #FFF , 1576px 1989px #FFF , 1979px 441px #FFF , 762px 1700px #FFF , 123px 42px #FFF , 1713px 1390px #FFF , 104px 698px #FFF , 580px 761px #FFF , 265px 1952px #FFF , 1729px 1502px #FFF , 1733px 1480px #FFF , 1224px 576px #FFF , 1754px 1422px #FFF , 104px 1266px #FFF , 817px 435px #FFF , 1924px 375px #FFF , 1475px 725px #FFF , 1963px 591px #FFF , 356px 1039px #FFF , 1314px 1599px #FFF , 1628px 44px #FFF , 1927px 1228px #FFF , 1591px 79px #FFF , 975px 118px #FFF , 1960px 1572px #FFF , 727px 342px #FFF , 1886px 1911px #FFF , 516px 144px #FFF , 1845px 1136px #FFF , 126px 655px #FFF , 1244px 1389px #FFF , 1631px 1247px #FFF , 1241px 11px #FFF , 1194px 1602px #FFF , 533px 1757px #FFF , 457px 1275px #FFF , 1216px 1340px #FFF , 1680px 126px #FFF , 1737px 1169px #FFF , 817px 125px #FFF , 872px 1960px #FFF , 403px 1879px #FFF , 260px 665px #FFF , 124px 672px #FFF , 907px 1349px #FFF , 951px 1128px #FFF , 925px 1133px #FFF , 1090px 554px #FFF , 965px 64px #FFF , 1823px 316px #FFF , 372px 825px #FFF , 1700px 1270px #FFF , 225px 1190px #FFF , 1848px 1874px #FFF , 1124px 1425px #FFF , 1955px 76px #FFF , 1278px 536px #FFF , 904px 1420px #FFF , 1752px 1470px #FFF , 1582px 304px #FFF , 538px 1732px #FFF , 1396px 210px #FFF , 818px 1628px #FFF , 70px 668px #FFF , 326px 1028px #FFF , 320px 1034px #FFF , 254px 889px #FFF , 1190px 1086px #FFF , 24px 1564px #FFF , 654px 1550px #FFF , 523px 645px #FFF , 1958px 1180px #FFF , 198px 313px #FFF , 1143px 1669px #FFF , 1774px 1287px #FFF , 918px 1672px #FFF , 558px 269px #FFF , 494px 83px #FFF , 1951px 1034px #FFF , 1321px 1761px #FFF , 1730px 686px #FFF , 1168px 1341px #FFF , 694px 1281px #FFF , 1123px 1774px #FFF , 1409px 522px #FFF , 130px 674px #FFF , 1925px 41px #FFF , 175px 1657px #FFF , 1104px 320px #FFF , 1740px 680px #FFF , 1803px 1840px #FFF , 1326px 414px #FFF , 644px 931px #FFF , 593px 1973px #FFF , 765px 1222px #FFF , 1165px 94px #FFF , 379px 1433px #FFF , 1727px 2000px #FFF , 1067px 917px #FFF , 50px 822px #FFF , 1025px 20px #FFF , 1197px 1768px #FFF , 378px 1331px #FFF , 281px 1433px #FFF , 1272px 1608px #FFF , 227px 102px #FFF , 1313px 626px #FFF , 1924px 1856px #FFF , 1691px 1774px #FFF , 279px 1449px #FFF , 1525px 722px #FFF , 1028px 531px #FFF , 1593px 849px #FFF , 1414px 1580px #FFF , 1681px 1517px #FFF , 419px 118px #FFF , 461px 226px #FFF , 754px 523px #FFF , 469px 799px #FFF , 567px 1274px #FFF , 1292px 1178px #FFF , 391px 119px #FFF , 1949px 658px #FFF , 881px 118px #FFF , 526px 823px #FFF , 1860px 1701px #FFF , 94px 449px #FFF , 321px 167px #FFF , 1556px 1454px #FFF , 1628px 650px #FFF , 488px 1564px #FFF , 894px 1964px #FFF , 1261px 668px #FFF , 571px 480px #FFF , 874px 1407px #FFF , 137px 1601px #FFF , 1276px 1158px #FFF , 517px 1200px #FFF , 282px 1355px #FFF , 307px 748px #FFF , 354px 1819px #FFF , 99px 1807px #FFF , 96px 491px #FFF , 1722px 750px #FFF , 623px 1508px #FFF , 883px 565px #FFF , 70px 1787px #FFF , 1478px 1397px #FFF , 110px 5px #FFF , 596px 158px #FFF , 1083px 570px #FFF , 817px 567px #FFF , 1464px 1243px #FFF , 1082px 457px #FFF , 1872px 1337px #FFF , 1903px 1778px #FFF , 1688px 1883px #FFF , 413px 571px #FFF , 421px 1926px #FFF , 245px 207px #FFF , 1365px 1550px #FFF , 388px 1970px #FFF , 1427px 832px #FFF , 77px 32px #FFF , 1892px 1510px #FFF , 1453px 1875px #FFF , 567px 1903px #FFF , 1979px 727px #FFF , 1979px 808px #FFF , 1966px 872px #FFF , 410px 822px #FFF , 1902px 1700px #FFF , 421px 731px #FFF , 1717px 213px #FFF , 220px 1370px #FFF , 911px 1543px #FFF , 1009px 728px #FFF , 30px 269px #FFF , 181px 122px #FFF , 339px 728px #FFF , 1638px 1942px #FFF , 895px 45px #FFF , 479px 1919px #FFF , 1819px 1005px #FFF , 961px 319px #FFF , 607px 1012px #FFF , 725px 460px #FFF , 919px 1546px #FFF , 1314px 1705px #FFF , 1506px 224px #FFF , 1876px 266px #FFF , 502px 93px #FFF , 781px 709px #FFF , 997px 784px #FFF , 1011px 1166px #FFF , 1252px 1753px #FFF , 1317px 1488px #FFF , 462px 113px #FFF , 1297px 440px #FFF , 1238px 723px #FFF , 1373px 752px #FFF , 597px 1634px #FFF , 1907px 701px #FFF , 46px 1836px #FFF , 1744px 1454px #FFF , 1168px 1932px #FFF , 1140px 327px #FFF , 774px 1238px #FFF , 1195px 1487px #FFF , 430px 655px #FFF , 1935px 1366px #FFF , 1071px 337px #FFF , 827px 449px #FFF , 1858px 1647px #FFF , 1895px 1675px #FFF , 1272px 1554px #FFF , 827px 439px #FFF , 1798px 1487px #FFF , 1229px 1314px #FFF , 1266px 431px #FFF , 1109px 1872px #FFF , 239px 247px #FFF , 265px 520px #FFF , 1912px 1884px #FFF , 378px 1092px #FFF , 1707px 427px #FFF , 699px 970px #FFF , 1584px 620px #FFF , 1699px 1812px #FFF , 459px 1253px #FFF , 312px 139px #FFF , 1928px 1429px #FFF , 796px 1901px #FFF , 776px 1033px #FFF , 1369px 1876px #FFF , 399px 1781px #FFF , 558px 104px #FFF , 1227px 1582px #FFF , 415px 511px #FFF , 1043px 482px #FFF , 1729px 1705px #FFF , 660px 1168px #FFF , 268px 445px #FFF , 1424px 1588px #FFF , 81px 1077px #FFF , 456px 131px #FFF , 1572px 1163px #FFF , 1546px 253px #FFF , 1275px 1816px #FFF , 896px 585px #FFF , 1549px 81px #FFF , 1330px 798px #FFF , 1733px 963px #FFF , 492px 1881px #FFF , 1618px 1524px #FFF , 492px 1042px #FFF , 250px 1889px #FFF , 981px 1040px #FFF , 788px 1411px #FFF , 1728px 708px #FFF , 269px 1470px #FFF , 342px 642px #FFF , 450px 791px #FFF , 3px 682px #FFF , 1091px 940px #FFF , 1212px 1887px #FFF , 1612px 1993px #FFF , 1625px 1582px #FFF , 704px 137px #FFF , 409px 1826px #FFF , 1825px 548px #FFF , 179px 671px #FFF , 1932px 657px #FFF , 252px 1505px #FFF , 575px 1782px #FFF , 48px 1866px #FFF , 1298px 1972px #FFF , 1898px 742px #FFF , 304px 1430px #FFF , 1341px 1743px #FFF , 686px 1353px #FFF , 1015px 620px #FFF , 1907px 1277px #FFF , 652px 743px #FFF , 1011px 61px #FFF , 474px 1490px #FFF , 1885px 1795px #FFF , 1631px 276px #FFF , 1786px 1943px #FFF , 1223px 64px #FFF , 822px 553px #FFF , 927px 381px #FFF , 305px 217px #FFF , 977px 1701px #FFF , 153px 1205px #FFF , 1955px 1710px #FFF , 682px 836px #FFF , 439px 1338px #FFF , 158px 1446px #FFF , 723px 835px #FFF , 1306px 1638px #FFF , 1796px 100px #FFF , 1174px 928px #FFF , 1651px 716px #FFF , 1167px 1087px #FFF , 1293px 1550px #FFF , 1862px 961px #FFF , 1493px 1873px #FFF , 1500px 984px #FFF , 1930px 94px #FFF , 524px 1824px #FFF , 1482px 144px #FFF , 999px 831px #FFF , 1660px 127px #FFF , 172px 315px #FFF , 1907px 884px #FFF , 1812px 264px #FFF , 1906px 709px #FFF , 1966px 1004px #FFF , 885px 1476px #FFF , 516px 196px #FFF , 211px 1252px #FFF , 1428px 1706px #FFF , 555px 820px #FFF , 167px 612px #FFF , 937px 1240px #FFF , 1359px 441px #FFF , 894px 1997px #FFF , 238px 250px #FFF , 1615px 1055px #FFF , 1800px 1361px #FFF , 45px 1840px #FFF , 1637px 956px #FFF , 576px 1439px #FFF , 1079px 923px #FFF , 883px 1379px #FFF , 1975px 1719px #FFF , 1734px 1944px #FFF , 1924px 806px #FFF , 258px 222px #FFF , 1710px 322px #FFF , 1148px 1011px #FFF , 1916px 569px #FFF , 1948px 1722px #FFF , 579px 389px #FFF , 1655px 1029px #FFF , 660px 1793px #FFF , 765px 722px #FFF , 556px 1502px #FFF , 979px 1540px #FFF , 1020px 543px #FFF , 1086px 107px #FFF , 700px 1448px #FFF , 1017px 1670px #FFF , 76px 55px #FFF , 1343px 678px #FFF , 1554px 1269px #FFF , 526px 1575px #FFF , 1136px 1103px #FFF , 1911px 385px #FFF , 804px 1277px #FFF , 804px 437px #FFF , 257px 1241px #FFF , 1719px 1487px #FFF , 664px 194px #FFF , 147px 1528px #FFF , 1893px 173px #FFF , 1325px 755px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1961px 256px #FFF , 1544px 1358px #FFF , 1675px 1803px #FFF , 816px 1655px #FFF , 1121px 783px #FFF , 1560px 489px #FFF , 502px 235px #FFF , 1478px 606px #FFF , 1969px 1836px #FFF , 1772px 470px #FFF , 867px 1841px #FFF , 1853px 1668px #FFF , 890px 1309px #FFF , 1728px 399px #FFF , 354px 915px #FFF , 1339px 267px #FFF , 657px 1390px #FFF , 1826px 1569px #FFF , 1971px 1379px #FFF , 124px 736px #FFF , 212px 1415px #FFF , 1956px 670px #FFF , 70px 1568px #FFF , 488px 1829px #FFF , 1033px 1247px #FFF , 1847px 354px #FFF , 116px 1552px #FFF , 1304px 1026px #FFF , 728px 856px #FFF , 1055px 1244px #FFF , 1093px 1116px #FFF , 282px 972px #FFF , 912px 748px #FFF , 1667px 146px #FFF , 970px 1261px #FFF , 40px 269px #FFF , 118px 123px #FFF , 1032px 1877px #FFF , 973px 446px #FFF , 849px 597px #FFF , 1515px 1867px #FFF , 1428px 1856px #FFF , 990px 285px #FFF , 1873px 1680px #FFF , 1923px 1712px #FFF , 1773px 1479px #FFF , 999px 272px #FFF , 1422px 1997px #FFF , 830px 255px #FFF , 956px 1649px #FFF , 1594px 1903px #FFF , 43px 1326px #FFF , 995px 64px #FFF , 493px 355px #FFF , 814px 1409px #FFF , 1742px 66px #FFF , 94px 1688px #FFF , 349px 32px #FFF , 1320px 1883px #FFF , 246px 1233px #FFF , 1013px 1406px #FFF , 38px 1193px #FFF , 121px 1311px #FFF , 811px 1946px #FFF , 879px 1743px #FFF , 678px 1585px #FFF , 1213px 462px #FFF , 202px 1963px #FFF , 1765px 1639px #FFF , 1158px 403px #FFF , 396px 955px #FFF , 918px 1348px #FFF , 667px 253px #FFF , 444px 1527px #FFF , 896px 579px #FFF , 1060px 282px #FFF , 118px 698px #FFF , 1200px 1377px #FFF , 1019px 901px #FFF , 122px 311px #FFF , 1279px 20px #FFF , 1437px 1098px #FFF , 1657px 711px #FFF , 897px 932px #FFF , 1823px 1862px #FFF , 1132px 360px #FFF , 1822px 399px #FFF , 1578px 1713px #FFF , 1182px 1020px #FFF , 1896px 148px #FFF , 1281px 1256px #FFF , 836px 223px #FFF , 1964px 502px #FFF , 923px 396px #FFF , 724px 183px #FFF , 356px 563px #FFF , 1899px 1804px #FFF , 828px 1947px #FFF , 134px 1657px #FFF , 337px 1212px #FFF , 1864px 1440px #FFF , 68px 64px #FFF , 658px 1646px #FFF , 75px 1057px #FFF , 373px 878px #FFF , 890px 397px #FFF , 753px 710px #FFF , 167px 1733px #FFF , 442px 1749px #FFF , 1818px 686px #FFF , 890px 221px #FFF , 534px 1516px #FFF , 1460px 1954px #FFF , 71px 1695px #FFF , 702px 1556px #FFF , 1867px 873px #FFF , 185px 125px #FFF , 1150px 1579px #FFF , 556px 1148px #FFF , 419px 390px #FFF , 1570px 223px #FFF , 175px 490px #FFF , 705px 1446px #FFF , 1798px 1574px #FFF , 1414px 130px #FFF , 1979px 1286px #FFF , 970px 588px #FFF , 163px 1722px #FFF , 1316px 106px #FFF , 433px 1175px #FFF , 221px 566px #FFF , 1717px 1903px #FFF , 1330px 127px #FFF , 1073px 919px #FFF , 1588px 739px #FFF , 296px 1412px #FFF , 538px 1425px #FFF , 106px 330px #FFF , 1203px 959px #FFF , 1120px 123px #FFF , 1079px 1459px #FFF , 32px 669px #FFF , 1375px 1471px #FFF , 1595px 1476px #FFF , 682px 1296px #FFF , 1971px 1648px #FFF , 220px 1832px #FFF , 1845px 865px #FFF , 1567px 1713px #FFF , 408px 1581px #FFF , 1218px 1388px #FFF , 866px 128px #FFF , 1518px 1529px #FFF , 1618px 847px #FFF , 1841px 1365px #FFF , 9px 406px #FFF , 1588px 1020px #FFF , 1835px 384px #FFF , 203px 1482px #FFF , 1002px 180px #FFF , 1680px 1307px #FFF , 1986px 1066px #FFF , 1235px 820px #FFF , 187px 918px #FFF , 1419px 1232px #FFF , 418px 1476px #FFF , 11px 1026px #FFF , 1484px 1288px #FFF , 176px 1415px #FFF , 992px 645px #FFF , 1135px 1964px #FFF , 1397px 1054px #FFF , 331px 923px #FFF , 1066px 425px #FFF , 1472px 230px #FFF , 45px 1357px #FFF , 328px 956px #FFF , 1619px 802px #FFF , 1100px 1622px #FFF , 1584px 1639px #FFF , 858px 240px #FFF , 175px 1076px #FFF , 348px 228px #FFF , 1606px 34px #FFF , 1721px 1935px #FFF , 705px 458px #FFF , 1777px 514px #FFF , 457px 1360px #FFF , 1685px 1179px #FFF , 1549px 725px #FFF , 1577px 324px #FFF , 1478px 868px #FFF , 901px 1280px #FFF , 909px 540px #FFF , 886px 1204px #FFF , 1393px 472px #FFF , 1162px 1267px #FFF , 683px 1235px #FFF , 1718px 1958px #FFF , 933px 1705px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1961px 256px #FFF , 1544px 1358px #FFF , 1675px 1803px #FFF , 816px 1655px #FFF , 1121px 783px #FFF , 1560px 489px #FFF , 502px 235px #FFF , 1478px 606px #FFF , 1969px 1836px #FFF , 1772px 470px #FFF , 867px 1841px #FFF , 1853px 1668px #FFF , 890px 1309px #FFF , 1728px 399px #FFF , 354px 915px #FFF , 1339px 267px #FFF , 657px 1390px #FFF , 1826px 1569px #FFF , 1971px 1379px #FFF , 124px 736px #FFF , 212px 1415px #FFF , 1956px 670px #FFF , 70px 1568px #FFF , 488px 1829px #FFF , 1033px 1247px #FFF , 1847px 354px #FFF , 116px 1552px #FFF , 1304px 1026px #FFF , 728px 856px #FFF , 1055px 1244px #FFF , 1093px 1116px #FFF , 282px 972px #FFF , 912px 748px #FFF , 1667px 146px #FFF , 970px 1261px #FFF , 40px 269px #FFF , 118px 123px #FFF , 1032px 1877px #FFF , 973px 446px #FFF , 849px 597px #FFF , 1515px 1867px #FFF , 1428px 1856px #FFF , 990px 285px #FFF , 1873px 1680px #FFF , 1923px 1712px #FFF , 1773px 1479px #FFF , 999px 272px #FFF , 1422px 1997px #FFF , 830px 255px #FFF , 956px 1649px #FFF , 1594px 1903px #FFF , 43px 1326px #FFF , 995px 64px #FFF , 493px 355px #FFF , 814px 1409px #FFF , 1742px 66px #FFF , 94px 1688px #FFF , 349px 32px #FFF , 1320px 1883px #FFF , 246px 1233px #FFF , 1013px 1406px #FFF , 38px 1193px #FFF , 121px 1311px #FFF , 811px 1946px #FFF , 879px 1743px #FFF , 678px 1585px #FFF , 1213px 462px #FFF , 202px 1963px #FFF , 1765px 1639px #FFF , 1158px 403px #FFF , 396px 955px #FFF , 918px 1348px #FFF , 667px 253px #FFF , 444px 1527px #FFF , 896px 579px #FFF , 1060px 282px #FFF , 118px 698px #FFF , 1200px 1377px #FFF , 1019px 901px #FFF , 122px 311px #FFF , 1279px 20px #FFF , 1437px 1098px #FFF , 1657px 711px #FFF , 897px 932px #FFF , 1823px 1862px #FFF , 1132px 360px #FFF , 1822px 399px #FFF , 1578px 1713px #FFF , 1182px 1020px #FFF , 1896px 148px #FFF , 1281px 1256px #FFF , 836px 223px #FFF , 1964px 502px #FFF , 923px 396px #FFF , 724px 183px #FFF , 356px 563px #FFF , 1899px 1804px #FFF , 828px 1947px #FFF , 134px 1657px #FFF , 337px 1212px #FFF , 1864px 1440px #FFF , 68px 64px #FFF , 658px 1646px #FFF , 75px 1057px #FFF , 373px 878px #FFF , 890px 397px #FFF , 753px 710px #FFF , 167px 1733px #FFF , 442px 1749px #FFF , 1818px 686px #FFF , 890px 221px #FFF , 534px 1516px #FFF , 1460px 1954px #FFF , 71px 1695px #FFF , 702px 1556px #FFF , 1867px 873px #FFF , 185px 125px #FFF , 1150px 1579px #FFF , 556px 1148px #FFF , 419px 390px #FFF , 1570px 223px #FFF , 175px 490px #FFF , 705px 1446px #FFF , 1798px 1574px #FFF , 1414px 130px #FFF , 1979px 1286px #FFF , 970px 588px #FFF , 163px 1722px #FFF , 1316px 106px #FFF , 433px 1175px #FFF , 221px 566px #FFF , 1717px 1903px #FFF , 1330px 127px #FFF , 1073px 919px #FFF , 1588px 739px #FFF , 296px 1412px #FFF , 538px 1425px #FFF , 106px 330px #FFF , 1203px 959px #FFF , 1120px 123px #FFF , 1079px 1459px #FFF , 32px 669px #FFF , 1375px 1471px #FFF , 1595px 1476px #FFF , 682px 1296px #FFF , 1971px 1648px #FFF , 220px 1832px #FFF , 1845px 865px #FFF , 1567px 1713px #FFF , 408px 1581px #FFF , 1218px 1388px #FFF , 866px 128px #FFF , 1518px 1529px #FFF , 1618px 847px #FFF , 1841px 1365px #FFF , 9px 406px #FFF , 1588px 1020px #FFF , 1835px 384px #FFF , 203px 1482px #FFF , 1002px 180px #FFF , 1680px 1307px #FFF , 1986px 1066px #FFF , 1235px 820px #FFF , 187px 918px #FFF , 1419px 1232px #FFF , 418px 1476px #FFF , 11px 1026px #FFF , 1484px 1288px #FFF , 176px 1415px #FFF , 992px 645px #FFF , 1135px 1964px #FFF , 1397px 1054px #FFF , 331px 923px #FFF , 1066px 425px #FFF , 1472px 230px #FFF , 45px 1357px #FFF , 328px 956px #FFF , 1619px 802px #FFF , 1100px 1622px #FFF , 1584px 1639px #FFF , 858px 240px #FFF , 175px 1076px #FFF , 348px 228px #FFF , 1606px 34px #FFF , 1721px 1935px #FFF , 705px 458px #FFF , 1777px 514px #FFF , 457px 1360px #FFF , 1685px 1179px #FFF , 1549px 725px #FFF , 1577px 324px #FFF , 1478px 868px #FFF , 901px 1280px #FFF , 909px 540px #FFF , 886px 1204px #FFF , 1393px 472px #FFF , 1162px 1267px #FFF , 683px 1235px #FFF , 1718px 1958px #FFF , 933px 1705px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1635px 241px #FFF , 1247px 1435px #FFF , 1920px 1196px #FFF , 588px 1241px #FFF , 940px 664px #FFF , 168px 1089px #FFF , 304px 316px #FFF , 898px 1212px #FFF , 501px 538px #FFF , 123px 1683px #FFF , 1987px 250px #FFF , 1065px 1986px #FFF , 981px 1505px #FFF , 369px 1400px #FFF , 1270px 809px #FFF , 1417px 663px #FFF , 378px 1809px #FFF , 494px 1510px #FFF , 1705px 1076px #FFF , 136px 1861px #FFF , 155px 513px #FFF , 574px 571px #FFF , 1014px 1742px #FFF , 170px 1048px #FFF , 601px 1735px #FFF , 910px 1274px #FFF , 1125px 1336px #FFF , 990px 1760px #FFF , 656px 840px #FFF , 1717px 1139px #FFF , 213px 1383px #FFF , 1255px 67px #FFF , 955px 949px #FFF , 385px 524px #FFF , 1526px 545px #FFF , 1712px 1477px #FFF , 1828px 1387px #FFF , 1935px 1026px #FFF , 1095px 734px #FFF , 1076px 1618px #FFF , 523px 1066px #FFF , 782px 1601px #FFF , 311px 673px #FFF , 1345px 1501px #FFF , 747px 780px #FFF , 1409px 1490px #FFF , 717px 721px #FFF , 64px 1971px #FFF , 671px 795px #FFF , 335px 115px #FFF , 1329px 1550px #FFF , 280px 1534px #FFF , 1549px 620px #FFF , 789px 657px #FFF , 539px 1706px #FFF , 1089px 1048px #FFF , 718px 1702px #FFF , 403px 1478px #FFF , 626px 622px #FFF , 640px 1996px #FFF , 1023px 760px #FFF , 84px 1622px #FFF , 294px 1382px #FFF , 1285px 885px #FFF , 288px 1904px #FFF , 545px 1626px #FFF , 1152px 1059px #FFF , 1943px 1287px #FFF , 423px 772px #FFF , 769px 1387px #FFF , 1308px 1551px #FFF , 477px 1877px #FFF , 375px 1894px #FFF , 324px 69px #FFF , 1287px 933px #FFF , 439px 12px #FFF , 1074px 225px #FFF , 1071px 694px #FFF , 1924px 1707px #FFF , 995px 1718px #FFF , 808px 1847px #FFF , 1166px 539px #FFF , 820px 866px #FFF , 1907px 663px #FFF , 697px 1048px #FFF , 653px 1848px #FFF , 778px 1455px #FFF , 1067px 1972px #FFF , 1897px 1432px #FFF , 644px 1218px #FFF , 142px 1792px #FFF , 1807px 1988px #FFF , 1626px 1736px #FFF , 1972px 1630px #FFF , 1638px 1088px #FFF , 1778px 1990px #FFF , 553px 840px #FFF , 7px 625px #FFF , 1240px 1979px #FFF , 869px 1282px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1635px 241px #FFF , 1247px 1435px #FFF , 1920px 1196px #FFF , 588px 1241px #FFF , 940px 664px #FFF , 168px 1089px #FFF , 304px 316px #FFF , 898px 1212px #FFF , 501px 538px #FFF , 123px 1683px #FFF , 1987px 250px #FFF , 1065px 1986px #FFF , 981px 1505px #FFF , 369px 1400px #FFF , 1270px 809px #FFF , 1417px 663px #FFF , 378px 1809px #FFF , 494px 1510px #FFF , 1705px 1076px #FFF , 136px 1861px #FFF , 155px 513px #FFF , 574px 571px #FFF , 1014px 1742px #FFF , 170px 1048px #FFF , 601px 1735px #FFF , 910px 1274px #FFF , 1125px 1336px #FFF , 990px 1760px #FFF , 656px 840px #FFF , 1717px 1139px #FFF , 213px 1383px #FFF , 1255px 67px #FFF , 955px 949px #FFF , 385px 524px #FFF , 1526px 545px #FFF , 1712px 1477px #FFF , 1828px 1387px #FFF , 1935px 1026px #FFF , 1095px 734px #FFF , 1076px 1618px #FFF , 523px 1066px #FFF , 782px 1601px #FFF , 311px 673px #FFF , 1345px 1501px #FFF , 747px 780px #FFF , 1409px 1490px #FFF , 717px 721px #FFF , 64px 1971px #FFF , 671px 795px #FFF , 335px 115px #FFF , 1329px 1550px #FFF , 280px 1534px #FFF , 1549px 620px #FFF , 789px 657px #FFF , 539px 1706px #FFF , 1089px 1048px #FFF , 718px 1702px #FFF , 403px 1478px #FFF , 626px 622px #FFF , 640px 1996px #FFF , 1023px 760px #FFF , 84px 1622px #FFF , 294px 1382px #FFF , 1285px 885px #FFF , 288px 1904px #FFF , 545px 1626px #FFF , 1152px 1059px #FFF , 1943px 1287px #FFF , 423px 772px #FFF , 769px 1387px #FFF , 1308px 1551px #FFF , 477px 1877px #FFF , 375px 1894px #FFF , 324px 69px #FFF , 1287px 933px #FFF , 439px 12px #FFF , 1074px 225px #FFF , 1071px 694px #FFF , 1924px 1707px #FFF , 995px 1718px #FFF , 808px 1847px #FFF , 1166px 539px #FFF , 820px 866px #FFF , 1907px 663px #FFF , 697px 1048px #FFF , 653px 1848px #FFF , 778px 1455px #FFF , 1067px 1972px #FFF , 1897px 1432px #FFF , 644px 1218px #FFF , 142px 1792px #FFF , 1807px 1988px #FFF , 1626px 1736px #FFF , 1972px 1630px #FFF , 1638px 1088px #FFF , 1778px 1990px #FFF , 553px 840px #FFF , 7px 625px #FFF , 1240px 1979px #FFF , 869px 1282px #FFF;
}

#title {
  position: absolute;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 10px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


/* End spacy background */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgb(252, 93, 93), rgb(252, 0, 0),rgb(139, 0, 0));
  border-radius: 50px;
}

.body {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.gif {
  margin-top: 400px;
  margin-bottom: 150px;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgb(194, 194, 255);
}

.gif:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px rgb(194, 194, 255);
}

.gif-navbar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer {
  position:sticky;
  width: 100%;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
  background-color: rgba(207, 206, 253, 0.274);
  font-size: calc(4px + 2vmin);
  color: rgb(16, 13, 155);
}


.contact {
  background-color: rgba(2, 255, 221, 0.082);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 173, 107, 0.1);
}


.about-text{
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* ABOUT ME PAGE */

.about {
  margin-top: 50px;
  margin-bottom: 80px;
  background-size: 500px;
  padding: 70px;
  border-radius: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #91a5ff21;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(100, 167, 255, 0.192);
}

/* SKILLS */

.progress-bar-container {
  height: 20px;
  width: 100%;
  margin: 10px 0px;
  background: white;
  position:relative; /* relative here */
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 173, 107, 0.1);
}

.progress-bar-indicator {
  height: 100%;
  border-radius: 25px;
  -webkit-mask:linear-gradient(#fff 0 0);
          mask:linear-gradient(#fff 0 0);
  animation: load 4s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  width: 0;
}

.progress-bar-container:hover {
  transform: scale(1.2);
}

.progress-bar-indicator::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-image: linear-gradient(to right, darkblue, blue, lightblue);
}

/* @keyframes load {
  0% { width: 0; }
  100% { width: 75%; }
} */

/* Projects */
.images {
  position: relative;
  width: 400px;
}

.image {
  display: block;
  width: 100%;
}

.carousel {
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #91a5ff15;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(100, 167, 255, 0.192);
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.4s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
  color: #ffe714;
  padding-bottom: 20px;
}

.image__description {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.25em;
  color: #ffe714;
}

.handshake {
  animation-name: shake;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 80% 70%; 
  display: inline-block;
}

@keyframes shake {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) } 
100% { transform: rotate( 0.0deg) }
}

.icons {
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 173, 107, 0.1);
  margin: 20px;
}

.icons:hover, .icon-footer:hover {
  transform: scale(1.2);
} 

.icon-footer {
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 173, 107, 0.1);
  margin: 5px;
}

/* responsiveness */

@media only screen and (max-width: 1135px) {
  .gif {
    margin-top: 400px;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 845px) {
  .gif {
    margin-bottom: 100px;
    width: 50%;
    height: 50%;
  }
} 

 @media only screen and (max-width: 764px) {
  .gif {
    margin-top: 500px;
  }
} 

@media only screen and (max-width: 681px) {
  .about {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .carousel {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .gif {
    margin-top: 600px;
    width: 70%;
    height: 70%;
  }
}

@media only screen and (max-width: 554px) {
  .gif {
    margin-top: 700px;
  }
} 

@media only screen and (max-width: 450px) {
  .footer {
    margin-top: 100px;
  }
} 

@media only screen and (max-width: 427px) {
  .gif {
    margin-top: 800px;
  }
} 

@media only screen and (max-width: 395px) {
  #title {
    margin-left: 70px;
    margin-right: 70px;
  }
} 

@media only screen and (max-width: 335px) {
  .gif {
    margin-top: 900px;
  }
} 

@media only screen and (max-width: 310px) {
  #title {
    margin-left: 40px;
    margin-right: 40px;
  }
  .icons-footer {
    display: none;
  }
  .footer {
    margin-top: 250px;
  }
} 
